<!--
  Generated template for the CadastraFuncPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar>
    <ion-title>{{nomeU}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list inset>

    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)] = "data.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>cpf</ion-label>
      <ion-input type="text" [(ngModel)] = "data.cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>email</ion-label>
      <ion-input type="text" [(ngModel)] = "data.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>senha</ion-label>
      <ion-input type="password" [(ngModel)] = "data.senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Função</ion-label>
      <ion-select [(ngModel)]="data.id_funcao">
        <ion-option *ngFor="let func of funcao" value="{{func.id}}">{{func.tipo}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button (click)="postCadastraU(data)">Cadastro</button>
  </ion-list>

  <ion-list *ngFor="let user of funcionarios" >
    <ion-item-sliding>
      <ion-item>
        <h1>{{user.nome}}</h1>
        <p>{{user.email}}</p>

      </ion-item>

      <ion-item-options side = "right">
        <button ion-button color ="danger" (click) = "deletaCadastro(user)" >
            Deletar
        </button>
      </ion-item-options>

      <ion-item-options side = "left">
        <button ion-button color ="secondary" (click) = "editaPerfil(user)" >
            Editar
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>




</ion-content>
